name: release

on:
  workflow_dispatch:
    inputs:
      target:
        description: 'build, minor, or major'
        required: true
        default: 'build'

jobs:
  create-release:
    name: Create release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          path: master
      - name: Set tag
        run: echo "next_tag=$(ruby ./scripts/put_tag.rb ${{ github.event.inputs.target }})" >> $GITHUB_ENV
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: {{ $next_tag }}